include mixins

doctype html
head
  +head  

body
  .click-closed
  +navbar('home')

  // / Carousel Star /
  .intro.intro-carousel
    #carousel.owl-carousel.owl-theme
      .carousel-item-a.intro-item.bg-image(style='background-image: url(assets/img/covid.png)')
        .overlay.overlay-a
        .intro-content.display-table
          .table-cell
            .container
              .row
                .col-lg-8
                  .intro-body
                    h1.intro-title.mb-4
                      span.color-b Noticias 
                      |  Covid
                      br
                      |  19
                    p.intro-subtitle.intro-price
                      a
                        span.price-a MAS INFORMACION
      .carousel-item-a.intro-item.bg-image(style='background-image: url(assets/img/donald.jpg)')
        .overlay.overlay-a
        .intro-content.display-table
          .table-cell
            .container
              .row
                .col-lg-8
                  .intro-body
                    h1.intro-title.mb-4
                      span.color-b Noticias 
                      |  Internacionales
                     
                    p.intro-subtitle.intro-price
                      a(href='#')
                        span.price-a MAS INFORMACION
      .carousel-item-a.intro-item.bg-image(style='background-image: url(assets/img/seguridad.png)')
        .overlay.overlay-a
        .intro-content.display-table
          .table-cell
            .container
              .row
                .col-lg-8
                  .intro-body
                    h1.intro-title.mb-4
                      span.color-b Noticias 
                      |  Seguridad
                      br
                      |  ciudadana
                    p.intro-subtitle.intro-price
                      a(href='#')
                        span.price-a MAS INFORMACION
  // / Carousel end /

  // / Services Star /
  section.section-services.section-t8
    .container
      .row
        .col-md-12
          .title-wrap.d-flex.justify-content-between
            .title-box
              h2.title-a Nuestros Servicios
      .row
        .col-md-4
          .card-box-c.foo
            .card-header-c.d-flex
              .card-box-ico
                span.fa.fa-gamepad
              .card-title-c.align-self-center
                h2.title-c Info
            .card-body-c
              p.content-c
                | Es posible establecer una relación con todos nuestros usuarios,
                | conocer a otros profesionales que trabajan en un sector similar al tuyo
                | y disfrutar de nuevas amistades.
            .card-footer-c
              a.link-c.link-icon(href='#')
                | Read more
                span.ion-ios-arrow-forward
        .col-md-4
          .card-box-c.foo
            .card-header-c.d-flex
              .card-box-ico
                span.fa.fa-usd
              .card-title-c.align-self-center
                h2.title-c News
            .card-body-c
              p.content-c
                | Es posible establecer una relación con todos nuestros usuarios,
                | conocer a otros profesionales que trabajan en un sector similar al tuyo
                | y disfrutar de nuevas amistades.
            .card-footer-c
              a.link-c.link-icon(href='#')
                | Read more
                span.ion-ios-arrow-forward
        .col-md-4
          .card-box-c.foo
            .card-header-c.d-flex
              .card-box-ico
                span.fa.fa-home
              .card-title-c.align-self-center
                h2.title-c Identy
            .card-body-c
              p.content-c
                | Es posible establecer una relación con todos nuestros usuarios,
                | conocer a otros profesionales que trabajan en un sector similar al tuyo
                | y disfrutar de nuevas amistades.
            .card-footer-c
              a.link-c.link-icon(href='#')
                | Read more
                span.ion-ios-arrow-forward
  // / Services End /

  // / Property Star /
  section.section-property.section-t8
    .container
      .row
        .col-md-12
          .title-wrap.d-flex.justify-content-between
            .title-box
              h2.title-a Ultimos Reportes
            .title-link
              a(href='property-grid.html')
                | Todos los reportes
                span.ion-ios-arrow-forward
      #property-carousel.owl-carousel.owl-theme
        .carousel-item-b
          .card-box-a.card-shadow
            .img-box-a
              img.img-a.img-fluid(src='assets/img/vandalismo.png' alt='')
            .card-overlay
              .card-overlay-a-content
                .card-header-a
                  h2.card-title-a
                    a(href='property-single.html')
                      | Vandalismo
                .card-body-a
                  
                  a.link-a(href='property-single.html')
                    | Click here to view
                    span.ion-ios-arrow-forward
                
        .carousel-item-b
          .card-box-a.card-shadow
            .img-box-a
              img.img-a.img-fluid(src='assets/img/asaltos.png' alt='')
            .card-overlay
              .card-overlay-a-content
                .card-header-a
                  h2.card-title-a
                    a(href='property-single.html')
                      | Asaltos
                .card-body-a
                  
                  a.link-a(href='property-single.html')
                    | Click here to view
                    span.ion-ios-arrow-forward
        .carousel-item-b
          .card-box-a.card-shadow
            .img-box-a
              img.img-a.img-fluid(src='assets/img/autos.png' alt='')
            .card-overlay
              .card-overlay-a-content
                .card-header-a
                  h2.card-title-a
                    a(href='property-single.html')
                      | Robos a 
                      | coches
                .card-body-a
                  
                  a.link-a(href='property-single.html')
                    | Click here to view
                    span.ion-ios-arrow-forward
        .carousel-item-b
          .card-box-a.card-shadow
            .img-box-a
              img.img-a.img-fluid(src='assets/img/mano.png' alt='')
            .card-overlay
              .card-overlay-a-content
                .card-header-a
                  h2.card-title-a
                    a(href='property-single.html')
                      | Robos a 
                      | transeuntes
                .card-body-a
                  
                  a.link-a(href='property-single.html')
                    | Click here to view
                    span.ion-ios-arrow-forward
    
                 
  // / Property End /

  // / News Star /
  section.section-news.section-t8
    .container
      .row
        .col-md-12
          .title-wrap.d-flex.justify-content-between
            .title-box
              h2.title-a Nuestros Post
            .title-link
              a(href='/blog')
                | Todos los Post
                span.ion-ios-arrow-forward
      #new-carousel.owl-carousel.owl-theme
        .carousel-item-c
          .card-box-b.card-shadow.news-box
            .img-box-b
              img.img-b.img-fluid(src='assets/img/actualizacion.png' alt='')
            .card-overlay
              .card-header-b
                
                .card-title-b
                  h2.title-2
                    a(href='/blog')
                      | Actualizaciones
                     
                .card-date
                  span.date-b 24 Jul. 2020
        .carousel-item-c
          .card-box-b.card-shadow.news-box
            .img-box-b
              img.img-b.img-fluid(src='assets/img/reportes.png' alt='')
            .card-overlay
              .card-header-b
                
                .card-title-b
                  h2.title-2
                    a(href='/blog')
                      | Ultimos Reportes
                     
                .card-date
                  span.date-b 22 Jul. 2020
        .carousel-item-c
          .card-box-b.card-shadow.news-box
            .img-box-b
              img.img-b.img-fluid(src='assets/img/zonas.png' alt='')
            .card-overlay
              .card-header-b
                
                .card-title-b
                  h2.title-2
                    a(href='/blog')
                      | Zonas Rojas
                     
                .card-date
                  span.date-b 23 Jul. 2020
        
  // / News End /

+footer
+scripts
a.back-to-top(href='#')
  i.fa.fa-chevron-up
#preloader
